#chart {
    // max-width: 650px;
    // margin: 35px auto;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.chart-container {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.suggestion-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-img-container {
    width: 20%
}

.suggestion-alert {
    width: 45%;
}

.accessory-container {
    width: 25%;
}

.img-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.main-sugg {
    width: 100px;
    margin: 0px 5px;
}

.tabs {
    width: 200px
}